{% comment %}
Git Setup instructions rely on Shell instructions. If you don't include
Shell instructions as part of your workshop website, make sure to adjust
the text below accordingly.
{% endcomment %}
<div id="git">
  <h3>Git and GitHub</h3>
  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">github.com</a>. You will need a
    <a href="https://help.github.com/articles/supported-browsers/">supported
    web browser</a>.
  </p>
  <p>
    You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#git-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#git-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#git-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="git-windows">
        <p>
          Git should be installed on your computer as part of your Bash
          install (see the
          <a href="#shell">Shell installation instructions</a>).
        </p>
        <p>
            You will also need to install <a href="https://cli.github.com/">GitHub's CLI</a>. Download <a href="https://github.com/cli/cli/releases/download/v2.30.0/gh_2.30.0_windows_amd64.msi">the windows' installer</a> and install it.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-macos">
        <p>
            <strong>For macOS</strong>, there are various ways to install Git. Since we will need to install GitHub's CLI too, then we recommend installing it using <a href="http://brew.sh/">homebrew</a>. To do so you'll need to follow these steps:
            <ol>
                <li>Open a <a href="https://support.apple.com/en-gb/guide/terminal/apd5265185d-f365-44cb-8b09-71a064a42125/mac">terminal window</a> </li>
                <li>Type:
                    <div class="copyable">
                        <figure class="highlight"><pre><code class="language-bash" data-lang="bash">/bin/bash <span class="nt">-c</span> <span class="s2">"</span><span class="si">$(</span>curl <span class="nt">-fsSL</span> https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh<span class="si">)</span><span class="s2">"</span></code></pre></figure>
                    </div>
                </li>
                <li>
                    Follow the installation prompts
                </li>
                <li>
                    Once it's installed, run:
                    <code>
                      brew install git
                    </code>
                    To install <code>git</code>, and
                    <code>
                      brew install gh
                    </code> to install GitHub's CLI.
                </li>

            </ol>
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-linux">
        <p>
          If Git is not already available on your machine you can try to
          install it via your distro's package manager. For Debian/Ubuntu run
          <code>sudo apt-get install git</code> and for Fedora run
          <code>sudo dnf install git</code>.
        </p>
        <p>
            To install GitHub's CLI <a href="https://github.com/cli/cli#linux--bsd"> follow the option according to your Linux distribution</a>.
        </p>
      </article>
    </div>
  </div>
</div>
